:root {
    --primary: rgb(172, 199, 255);
    --surface-tint: rgb(172 199 255);
    --on-primary: rgb(14, 47, 96);
    --primary-container: rgb(42 70 120);
    --on-primary-container: rgb(215 226 255);
    --secondary: rgb(145, 206, 245);
    --on-secondary: rgb(0, 52, 75);
    --secondary-container: rgb(0, 76, 107);
    --on-secondary-container: rgb(197, 231, 255);
    --tertiary: rgb(130, 211, 226);
    --on-tertiary: rgb(0 54 62);
    --tertiary-container: rgb(0 78 89);
    --on-tertiary-container: rgb(159 239 255);
    --error: rgb(255 180 171);
    --on-error: rgb(105 0 5);
    --error-container: rgb(147 0 10);
    --on-error-container: rgb(255 218 214);
    --background: rgb(17 19 24);
    --on-background: rgb(226 226 233);
    --surface: rgb(17 19 24);
    --on-surface: rgb(226 226 233);
    --surface-variant: rgb(68 71 78);
    --on-surface-variant: rgb(196 198 208);
    --outline: rgb(142 144 153);
    --outline-variant: rgb(68 71 78);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(226 226 233);
    --inverse-on-surface: rgb(46 48 54);
    --inverse-primary: rgb(67 94 145);
    --surface-dim: rgb(17 19 24);
    --surface-bright: rgb(55 57 62);
    --surface-container-lowest: rgb(12 14 19);
    --surface-container-low: rgb(26 27 32);
    --surface-container: rgb(30 32 37);
    --surface-container-high: rgb(40 42 47);
    --surface-container-highest: rgb(51 53 58);
}